body {
    background: white;
    outline-offset: 16px;
}
.wd-flex-container {
    width: 50%;
    border-width: 2px;
    border-color: rgb(47,51,54);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
.wd-color {
    background-color: rgb(47, 51, 54);
}

.wd-arrow-left i{
    content: "\f060";
  }

  .wd-ellipsis i{
  content: "\f141";
  }

.wd-px{
    height: 1px;
}
.wd-fg-color {
    color: black;
}
.wd-fg-color-red{
    color:red;
}

.wd-box{
    margin-left: 16px;
    margin-top: 12px;
}
.wd-title{
    color: black;
    font-size: 20px;
}
.wd-grid-row {
    clear: both;
}

.wd-grid-col-eighty-page {
    float: left;
}
.wd-grid-col-twenty-page {
    width: 8%;
    float: left;
}
.wd-rounded-corners-all-around {
    border-radius: 50%;
}
.wd-rounded-corners{
    border-radius: 20px;
}
.wd-handle{
    color: grey;
    font-size: 13px;
    margin-bottom: 12px;
}
.wd-title{
    font-size: 15px;
    font-family: Roboto white ;
}
.wd-fl-box{
    padding: 16px;
    font-size: 15px;
    font-family: Roboto white ;
}
.wd-color-gray{
    color: black;
}
.wd-color-white{
    color:black;
    font-size: 15px;
}
.wd-margin-text{
    margin-bottom: 12px;
    margin-right: 16px;
    max-width: 506px;
}
.wd-rounded-corners-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 2px;
    width: 490px;
    border-color: rgb(47,51,54);
    border-style: solid;
    padding: 12px;
}
.wd-container-icons{
    margin-right: 150px;
    display: flex;
    justify-content: space-evenly;
}
.wd-box-icon{
    display: flex;
    align-items: center;
}
.wd-number{
    margin-left: 12px;
}

.spacer {
    margin-right: 0px; /* Adjust the value as needed */
  }
  