@import "../../vendors/fontawesome/css/all.css";
@import "../../vendors/bootstrap/css/bootstrap.min.css";

/* Additional CSS */
.wd-active {
  border-bottom: 2px solid #1DA1F2;
}

.wd-userid {
  font-size: 15px;
  color: grey;
}

.wd-image-container {
  position: relative;
}

.wd-image {
  width: 100%;
  max-height: 400px; /* Adjust the height as needed */
  object-fit: cover;
}



.wd-image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wd-explore {
  margin: 20px;
}


.wd-search-bar {
  display: flex;
  align-items: center;
}

.wd-search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.wd-search-input input[type="text"] {
  padding: 8px 35px 8px 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
  width: 200px;
}

.wd-search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
}

.wd-settings-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
}

.wd-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.wd-tabs li {
  padding: 8px 16px;
  cursor: pointer;
}

.wd-image-container img {
  width: 100%;
  height: auto;
}

.wd-tuits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wd-tuits li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.wd-trending-titles {
  font-size: small;
  color: grey;
}

.wd-tuit-user {
  font-weight: bold;
}

.wd-tuit-text {
  font-size: small;
  color: grey;
}

.wd-avatar {
  width: 48px;
  height: 48px;
  background-color: #ccc;
  border-radius: 50%;
  background-image: url("user1.jpg");
  background-size: cover;
}
.wd-avatar2 {
  width: 48px;
  height: 48px;
  background-color: #ccc;
  border-radius: 50%;
  background-image: url("user2.jpg");
  background-size: cover;
}
.wd-avatar3 {
  width: 48px;
  height: 48px;
  background-color: #ccc;
  border-radius: 50%;
  background-image: url("user3.jpg");
  background-size: cover;
}


.btn-follow {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: small;
}

.wd-tuit-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  width:80%;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 20px;
  font-size: 14px;
  cursor: pointer;
}
.wd-tuit-space{
  margin-left: 700px;
}
.wd-tuit-space1{
  margin-left: 650px;
}
.wd-tuit-space3{
  margin-left: 640px;
}


.wd-fixed-image{
  position: fixed;

}

.wd-text-tuit{
  text-align: left;
}

.wd-text-tuit {
  display: flex;
}

.wd-text-tuit p {
  flex: 1;
  margin-right: 10px; /* Adjust the margin as needed */
}
