.wd-active {
    border-bottom: 2px solid #1DA1F2;
  }
  
  .wd-navigation {
    float: left;
  }

  .wd-image-container {
  
    margin-left: 0%;
  }  
  
  .wd-image-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    padding: 0;
  }

  .wd-content {
    overflow: hidden;
  }
  
  
  .wd-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .wd-navigation li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .wd-navigation a {
    color: #000;
    text-decoration: none;
  }
  
  .wd-explore {
    margin: 20px;
  }
  .wd-search-bar {
    display: flex;
    align-items: center;
  }
  
  .nav-link.active span {
    background-color: grey;
    color: #000;
    font-weight: bold; 
  }

  .wd-active-link {
    background-color: grey; 
    font-weight: bold; 
  }
  
  .wd-search-input {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .wd-search-input input[type="text"] {
    padding: 8px 35px 8px 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    width: 200px;
  }
  
  .wd-search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  
  .wd-settings-icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
  }
  
  
  .wd-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .wd-tabs li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .wd-space{
    margin-left: auto;
  }
   
  .wd-image-container img {
  width: 35%;
  height: 10%;
    }

  
  .wd-live-label {
    font-size: 12px;
    color: #fff;
    background-color: #E0245E;
    padding: 2px 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
  }
  
  .wd-tuits {
    list-style-type: none;
    padding: 0;
    margin: 110px;
    margin-top: 0px;
  }
  
  
  .wd-tuits li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .wd-trending-titles{
    font-size: x-small;
    color: grey;
  }
  
  .wd-tuit-user {
    font-weight: bold;
  }
  
  .wd-tuit-text {
    font-size: x-small;
    color: grey;
  }



  .wd-tuit-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    width:80%;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  